<div class="ui container">
  <div class="ui basic segment">
    <p>Congratulations <%= @user.applicant.first_name %>!</p>

    <p>You're one click away from having a summer job. You must click "Accept" at the bottom of this email to accept this position and find instructions about next steps.</p>

    <p>We matched you with a job opportunity:</p>

    <p><%= @position.title %> at <br>
    <%= @position.site_name %> <br>
    <%= @position.address %></p>

    <p><b>You have until 5pm on Wednesday June 28th to accept or decline this job offer.</b> If you don't respond by then, we will drop your name to the bottom of our waitlist.</p>

    <p>Have questions? Call Youth Engagement and Employment at 617-635-4202, or email us at <a href="mailto:youthline@boston.gov">youthline@boston.gov</a>.</p>

    <p>Once you click one of the below buttons, you’ll only be able to change your response by calling us at 617-635-4202.</p>

    <p>Accept this offer and you'll have a job this summer!</p>

    <p><a class="ui positive button accent-color" href="<%= @accept_url %>">Accept</a></p>

    <p>Decline if you don't want this job. We'll ask you to fill out a short survey. Please keep in mind: we will drop you to the bottom of our waitlist, and you may not receive another job offer through SuccessLink.</p>

    <p><a class="ui button" href="<%= @decline_url %>">Decline</a></p>

    <p>Thank you!</p>

    <p>Deron</p>

    <p>BCYF Youth Engagement and Employment<br>
    1483 Tremont St., Boston, MA 02201<br>
    youthline@boston.gov | 617-635-4202</p>

    <%= image_tag('COB_B_Blue-01.png', class: 'ui small image') %>
  </div>
</div>
