<section class="route table-page staff-applicants">

  <h2>MANAGE APPLICANTS</h2>

  {{#if (gt sortedModel.length perPage)}}
    <div class="pagination">
      <button class="previous to-begin {{unless min 'disabled'}}" onclick={{if min (action 'first')}}></button>
      <button class="previous {{unless min 'disabled'}}" onclick={{if min (action 'previous')}}></button>
      <span>{{page}}</span>
      <button class="next {{if (gte max sortedModel.length) 'disabled'}}" onclick={{if (lt max sortedModel.length) (action 'next')}}></button>
      <button class="next to-end {{if (gte max sortedModel.length) 'disabled'}}" onclick={{if (lt max sortedModel.length) (action 'last')}}></button>
    </div>
  {{/if}}

  <div class="table edit-table">

    <div class="th">
      {{#each attributeNames as |attribute|}}
        <div class="td">
          <span>{{capitalize attribute}}</span>
        </div>
      {{/each}}
    </div>

    <div class="rows">
      {{#each filteredModel as |applicant|}}
        <div class="tr">
          {{#each-in applicant as |attribute value|}}
            <input class="td" value={{value}} onchange={{action 'updateApplicant' applicant attribute}} onkeyup={{action 'verifyField' attribute}}>
          {{/each-in}}
        </div>
      {{/each}}
    </div>
  </div>
   
  <div class="update-message autosave-message {{if autosaved 'display'}}">
    {{autosaveMessage}}
  </div>

</section>
