<section class="route table-page staff-users">

  <h2>MANAGE USERS</h2>

  {{loading-dots model=filteredModel threshold=1 text="LOADING USERS"}}

  {{#if (gt sortedModel.length perPage)}}
    <div class="pagination">
      <button class="previous to-begin {{unless min 'disabled'}}" onclick={{if min (action 'first')}}></button>
      <button class="previous {{unless min 'disabled'}}" onclick={{if min (action 'previous')}}></button>
      <span>{{page}}</span>
      <button class="next {{if (gte max sortedModel.length) 'disabled'}}" onclick={{if (lt max sortedModel.length) (action 'next')}}></button>
      <button class="next to-end {{if (gte max sortedModel.length) 'disabled'}}" onclick={{if (lt max sortedModel.length) (action 'last')}}></button>
    </div>
  {{/if}}


  <div class="update-message {{if updated 'display'}}">
    {{updateMessage}}
  </div>


  <div class="table users-table">
    <div class="th">
      <div class="td">Email</div>
      <div class="td">Reset</div>
    </div>

    <div class="rows">
      {{#each filteredModel as |user|}}
        <div class="tr">
          <div class="td">{{user.email}}</div>
          <div class="td">
            <button class="destructive small" onclick={{action 'regeneratePassword' user}}>Regenerate Password</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>


</section>

