<section class="route dashboard">

  <nav class="dashboard__nav">
    {{nav-link-list}}

    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{#unless isLoginRoute}}
        {{link-to 'Login' 'login'}}
      {{/unless}}
    {{/if}}
  </nav>

  <main>
    {{outlet}}
  </main>

</section>
