<section class="route sign-up form-page">

  <form {{action 'createAccount' on="submit"}}>
    <img src="assets/images/boston-logo.svg" class="boston-logo">

    <div class="form-content">
      <h2>SIGN UP</h2>

      <article class="form-item">
        {{input placeholder="Email" type="email" value=email}}
      </article>

      <article class="form-item">
        {{input placeholder="Password" type="password" value=password}}
      </article>

      <article class="form-item">
        {{input placeholder="Confirm Password" type="password" value=passwordConfirm}}
      </article>

      <button type="submit">SIGN UP</button>
    </div><!--/ .form-content -->

    <div class="form-error">
      {{#if errorMessage}} 
        <p>{{errorMessage}}</p>
      {{/if}}
    </div>
  </form>

</section>
