<section class="route partner-applicants">

  <h2>SEARCH APPLICANTS</h2>

  <p>
    The BCYF Youth Engagement and Employment Summer Jobs Program has allocated you a 
    total of {{model.positions.length}} positions. You may select 100% of your positions
    ({{model.positions.length}} youth) to work for you this summer. In the list below, 
    browse through applicants who have an interest in the position or area of work you 
    offer. Starting April 5th, you may review candidates and mark "Intend to Hire" or 
    "I do not want to hire." Any remaining youth applicants enter in the jobs lottery.
  </p>

  <p> 
    Please add your choices beginning April 5th and no later than April 28th. Your 
    selections create and official record of who you want to hire. It is mandatory to 
    select applicants by April 28th to complete legal and HR requirements for
  </p>

  <div class="partner-columns">
    <div class="partner-column">

      <div class="search-tag">
        Search applicants who you may be interested in:
      </div>

      {{input value=searchQuery placeholder="Enter first or last name to search"}}

      <div class="search-table">
        <div class="row header-row">    
          <div class="column">First Name</div>
          <div class="column">Last Name</div>
          <div class="column">Email</div>
          <div class="column">Mobile</div>
          <div class="column"><span class="star">&#x2605;</span> Requested Position</div>
          <div class="column"></div>
        </div>

        {{#each filteredApplicants as |applicant|}}
          <div class="row">
            <div class="column">
              {{link-to applicant.first_name 'dashboard.partner.applicants.show' applicant.id}}
            </div>
            <div class="column">
              {{link-to applicant.last_name 'dashboard.partner.applicants.show' applicant.id}}
            </div>
            <div class="column">{{applicant.email}}</div>
            <div class="column">{{applicant.mobile_phone}}</div>
            <div class="column">{{applicant.position}}</div>
            <div class="column">
              <button class="small" onclick={{action 'pickApplicant' applicant}}>PICK</button>
            </div>
          </div>
        {{/each}}
      </div>

    </div>

    <div class="partner-column">
      {{outlet}}
    </div>
  </div>

</section>
